@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
:root {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 6px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
    background: black; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* цвет бегунка */
    height: 20px;
    border-radius: 5px

}

[data-slot="tabList"]::-webkit-scrollbar {
    height: 7px;
}

[data-slot="tabList"]:hover::-webkit-scrollbar {
    height: 12px;
}


[data-slot="tabList"]::-webkit-scrollbar-track {
    background: #202022; /* цвет зоны отслеживания */
}

[data-slot="tabList"]::-webkit-scrollbar-thumb {
    background-color: #3F3F46; /* цвет бегунка */
    height: 10px;
    border-radius: 20px

}

@media (max-width: 768px) {
    [data-slot="tabList"]::-webkit-scrollbar {
        display: none;
    }

    [data-slot="tabList"]:hover::-webkit-scrollbar {
        display: none;
    }
}