.sidebar {
    display: flex;
    height: 100%;
    overflow: hidden;

}

.block, .block_active {
    display: flex;

    flex-direction: column;
    row-gap: 0.5rem;
    /*background: #232323;*/
    width: 200px;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 999;
}

.block_close {
    width: 60px;
    transition: .3s ease-in-out;
    position: relative;
    z-index: 999;
}

@media (max-width: 1023px) {
    .block {
        position: absolute;
        top: 0;
        left: -130%;
        transition: .3s ease-in-out;
    }

    .block_active {
        display: flex;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 0;
        transition: .3s ease-in-out;
        overflow: hidden;
    }
}

.box {
    background: #0F0F0F;
    position: fixed;
    border-radius: 0.5rem;
    height: 100%;
    width: 190px;
    row-gap: 10px;
}

.block_close > .box {
    width: 60px;
    transition: .3s ease-in-out;
}

.logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 100%;
}

.btn_toggle {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 20px;

    margin-left: 5px;
}

.btn_toggle:hover {
    background: #1A1B1F;
}

.btn_toggle {
    display: block;
    position: relative;
    z-index: 3;
    width: 40px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
}

.btn_toggle span {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    z-index: 3;
    transform: translateY(-50%);
    border-radius: 4px;
    transition: .5s ease;
}

.btn_toggle::after,
.btn_toggle::before {
    content: '';
    position: absolute;
    right: 5px;
    height: 4px;
    background-color: #ffffff;
    display: inline-block;
    z-index: 3;
    border-radius: 4px;
    transition: .3s ease;
    transition-delay: .2s;

}

.btn_toggle::after {
    top: 5px;
    width: 15px;
}

.btn_toggle::before {
    bottom: 5px;
    width: 24px;
}

.routes {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    height: 100%;
    margin: 10px 0 0 0;
}

.active_link {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    width: 100%;
    column-gap: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    background: #f80404;
    border-radius: 5px;
}

.nonActive_link {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    width: 100%;
    column-gap: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    transition: .3s ease-in-out;
}

.nonActive_link:hover {
    background: #f80404;
    border-radius: 5px;
}

.link_title {
    width: 100%;
    padding: 10px 5px 10px 5px;
}

.block_close .link_title {
    display: none;
}

.icon {
    padding-left: 10px;
}

.block_close .icon {
    padding-left: 0;
}

.link {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    transition: .3s ease;
    font-size: 24px;
}

.full_menu {
    width: 100%;
}

.main_link {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.subLink {
    position: absolute;
    top: -50%;
    left: 100%;
    width: 100%;
    background-color: rgba(51, 65, 85, 0.51);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 10px 5px;
    z-index: 23;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.main_link:hover .subLink {
    display: grid;
    width: 450px;
    grid-column-gap: 10px;
    grid-template-columns: 200px 1fr;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;

}

.sub_name {
    display: flex;
    align-items: center;
    margin: 10px 0;
    grid-row-gap: 10px;
    font-size: 20px;
    line-height: 24px;
    transition: .3s ease-in-out;
    background-color: rgba(71, 85, 105, 0.69);
    border-radius: 5px;
    padding: 5px;
}

.sub_name span {
    padding-right: 5px;
    font-size: 20px;
}

.sub_name:hover {
    background-color: rgb(51 65 85);
}

.description {
    font-size: 12px;
    opacity: .7;
}

.block_close .link {
    justify-content: center;
}

.link:hover {
    background: #e41111;
}

.link_active {
    background: #e41111;
}

.link_name {
    padding-left: 20px;
    display: flex;
    align-items: center;

}

.link_name span {
    transition: .3s ease-in-out;
}

.link_name:hover span {
    transition: .3s ease-in-out;
    transform: rotate(-180deg);
}

.block_close .link_name {
    display: none;
}

.block_close .arrow {
    display: none;
}